<div>
  <h2>DOT 111</h2>
  <div>Links</div>
  <ul>
    <li>
      <a href="http://en.wikipedia.org/wiki/DOT-111_tank_car">DOT-111 Wikipedia</a>
    </li>
  </ul>
  <div>Notes</div>
  <ul>
    <li>
      known as the CTC-111A in Canada
    </li>
    <li>
      This car has a capacity of 30,110 US gallons (113,979 L)
    </li>
    <li>
      Up to 80% of the Canadian fleet,[1] and 69% of U.S. rail tank cars are DOT-111 type
    </li>
    <li>
      the carriage of Bakken crude in DOT-111 tank cars may be illegal in Canada, but possibly not in the US
    </li>
  </ul>
</div>