<div class="row">
  <button ng-hide="editMode" ng-click="editEvent(eventObj)" class="lnk-command event-command">edit</button>
  <div ng-show="editMode" class="col-xs-12 col-md-5">
    <h2>Event Form</h2>

    <form role="form" name="EventForm">
      <input type="hidden" ng-model="eventObj.id"/>
      <div class="form-group">
        <label>Blurb</label>
        <textarea ng-model="eventObj.blurb" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>casualties</label>
        <input ng-model="eventObj.casualties" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>cost</label>
        <input ng-model="eventObj.cost" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Magnitude</label>
        <select ng-model="eventObj.magnitude" ng-options="magnitude as magnitude for magnitude in magnitudes"  class="form-control"></select>
      </div>
      <div class="form-group">
        <label>Date:</label>
        <div class="row">
          <div class="col-md-6">
            <p class="input-group">
              <input type="text"
                     class="form-control"
                     datepicker-popup="{{format}}"
                     ng-model="eventObj.date"
                     is-open="opened"
                     datepicker-options="dateOptions"

                     date-disabled="disabled(date, mode)"
                     ng-required="true"
                     close-text="Close"/>
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Type</label>
        <input ng-model="eventObj.type" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Nearest City</label>
        <input ng-model="eventObj.nearestCity" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Lat</label>
        <input ng-model="eventObj.location.lat" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Lng</label>
        <input ng-model="eventObj.location.lng" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>State/Prov</label>
        <select ng-model="eventObj.stateProv" ng-options="provState.name as provState.name for provState in provStates"  class="form-control"></select>
      </div>
      <div class="form-group">
        <label>Country</label>
        <select ng-model="eventObj.country" ng-options="country.name as country.name for country in countries" class="form-control"></select>
      </div>
      <div class="form-group">
        <label>material</label>
        <input ng-model="eventObj.material" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>volume</label>
        <input ng-model="eventObj.volume" type="text" class="form-control"/>
      </div>

      <button type="submit" class="btn btn-default" value="Save" ng-click="saveEvent()">Save</button>
    </form>
    <div>
      <a href="http://geocoder.ca/" target="new">Geo Coding</a>
      <br />
      <a href="http://itouchmap.com/latlong.html" target="new">Geo Coding US</a>
    </div>
  </div>
  <div class="col-xs-12 col-md-7"></div>
</div>
