<p>
  <pre>
  Values are meant to help visualize the data and are approximate in nature:
  - casualties includes both injured and killed, humans only
  - volume is basically how many litres.  the number may not always make sense or be available
  - if estimate of damage cost is available, in dollars

  Magnitude - rough sizing of the event in terms of risk, damage, potential harm, etc.
  - 1 - non hazardous material, far from urban center, localized damage
  - 2 - hazardous material, no spill or minor fuel spill, moderate volume non toxic material
  - 3 - hazardous spill, no fire, far from urban area, away from waterways
  - 4 - possibly fire, larger volume hazardous material, proximity to people
  - 5 - spill, rupture, dot-111 derailment and leaking, fire, explosion, significant environmental damage
  - 6 - major incident, people injured, fire, explosion, large volume material
  - 7 - very major incident, many people injured or dead, major property damage
  - 10 - ultra catastrophe


  factors in ranking:
  - environmental damage (scope)
  - casualties - dead and injured
  - cost of damage
  - spill
  - hazardous materials
  - number of cars
  - explosion
  - fire
  - evacuation
  - long term environmental issues
  - dot-111 involvement
  </pre>
</p>