<div class="jumbotron">
  <h1>Baseball Pool 2014 - lick my balls</h1>
  <p>...</p>
  <ul>
    <li>
      <a href="http://www.cbssports.com/mlb/probable-pitchers" target="_new">probable pitchers</a>
    </li>
    <li>
      <a href="http://www.cbssports.com/mlb/scoreboard" target="_new">scores</a>
    </li>
    <li>
      <a href="http://www.rotoworld.com/playernews/mlb/baseball-player-news" target="_new">player news</a>
    </li>
    <li>
      <a href="http://mlb.mlb.com/mediacenter/index.jsp?c_id=mlb" target="_new">MLB TV</a>
    </li>
  </ul>
  <p>as good as it gets...</p>
</div>
